{% extends 'layout/_base.html' %}
{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h3>kerasで深層学習</h3>
            <p>Gacktかオードリー春日のどちらかに分類してみる</p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <form method="POST" action="{% url 'face' %}" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <div class='form-group'>
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">分類する</button>
                </div>
            </form>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h5>判定画像</h5>
            {% if result_list %}
            {% for result in result_list %}
            {{ result }}
            {% endfor %}
            {% else %}
            結果なし
            {% endif %}
            <hr>
            <h5>判定画像</h5>
            {% if result_name != "" %}
            {{ result_name }}
            {% else %}
            画像なし
            {% endif %}
            {% if result_img != "" %}
            <br>
            <img class="img-fluid" src="data:image/png;base64,{{result_img}}" />
            {% endif %}
            <hr>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <a href="{% url 'face' %}" class="btn btn-primary">画像選択メニューに戻る</a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

{% endblock %}